{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="container">
        <section id="page-title">
            <div class="container wow fadeInUp">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Inscription Newsletter</h3>
                    </div>
                </div>
            </div>
        </section>
        {% if success %}
        <p>Vous êtes désormais inscrit à notre newsletter</p>
        <p>Un email vient de vous être envoyé </p>
        {% else %}
        <section class="contact">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <hr class="mb-4">
                    <hr class="mb-4">
                    {{ form_start(formNewsletter) }}
                    <div class="form-group">
                        {{ form_errors(formNewsletter) }}
                        {{ form_widget(formNewsletter, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="col-md-3 offset-md-4">
                        <button type="submit" class="btn" name="submit"  id="connexion">Envoyer</button>
                    </div>
                    {{ form_end(formNewsletter) }}
                </div>
            </div>
        </section>
    </div>
     {% endif %}
{% endblock %}
