{% extends "@FOSUser/layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block nav %}
    {% include 'landing/parts/navLanding.html.twig' %}
{% endblock %}
{% block body %}

    <div class="container">
        <section id="page-title">
            <div class="container wow fadeInUp">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <h2>Connexion</h2>
                        <h3>Bon retour parmis nous !</h3>
                    </div>
                </div>
            </div>
        </section>
    </div>

<div class="container">
    <section id="connexion">
        <div class="row">
            <div class="col-md-6 offset-md-4">
            {% block fos_user_content %}
                {{ include('@FOSUser/Security/login_content.html.twig') }}
            {% endblock fos_user_content %}
            </div>
        </div>
    </section>
</div>

{% endblock %}
{% block footer %}
    {% include 'landing/parts/footer.html.twig' %}
{% endblock %}
{% block javascript %}
{% endblock %}