{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">

{% endblock %}
{% block nav %}

{% endblock %}

{% block body %}

    {% include 'account/parts/navAccount.html.twig' %}
    <div class="account-content">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-8 page_marge_top">
                    <hr class="mb-4">
                    <h2>Mes Spots favoris</h2>
                    <hr class="mb-4">
                </div>

            </div>
        </div>
        <div class="row">

        </div>
    </div>


{% endblock %}


