{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}
{% block nav %}
    {% include 'account/parts/navAccount.html.twig' %}
{% endblock %}

{% block body %}

    <div class="account-content">
        <section id="account-title">
            <div class="container wow fadeInUp">
                <div class="row">
                    <div class="col-md-12">
                        <h2>la fiche du spot!</h2>
                    </div>
                </div>
            </div>
        </section>
        <section id="fiche-spot">
            <div class="row">
                <div class="col-md-6 offset-3">
                    <div class="card">
                        <div class="card-header">
                            Un spot se trouve
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <footer class="blockquote-footer">En extérieur</footer>
                                <footer class="blockquote-footer">En ville</footer>
                            </blockquote>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            Un spot te fait voyager le temps d'un instant
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <footer class="blockquote-footer">A la campagne</footer>
                                <footer class="blockquote-footer">A la mer</footer>
                                <footer class="blockquote-footer">En foret</footer>
                            </blockquote>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            Techniquement un spot c'est
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <footer class="blockquote-footer">Un contenu adapté, non injurieux et détaillé</footer>
                                <footer class="blockquote-footer">Une photo adaptée et représentative</footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
