<header class="masthead">
    <div class="container">
        <div class="cover">
            <div class="cover-title">Bienvenue sur YouSpot</div>
            <div class="cover-text text-uppercase">Nous spotons , vous spotez ,ils spotent ...</div>
            <a class="btn btn btn-cover  text-uppercase js-scroll-trigger" href="{{ path('je-spote') }}">Je spote !</a>
        </div>
    </div>
</header>