<section class="cover-home">
    <header class="masthead">
        <div class="container">
            <div class="cover">
                <div class="col-md-12">
                    <div class="cover-title">Bienvenue sur YouSpot</div>
                     <div class="cover-text">Nous spotons , vous spotez ,ils spotent ...</div>
                        <a class="btn btn btn-cover  js-scroll-trigger" href="{{ path('accueil/je-spote') }}">Je spote !</a>
                        <a class="btn btn btn-cover   js-scroll-trigger" href="{{ path('accueil/je-cherche-un-spot',{ 'page' : 1}) }}">Je cherche !</a>
                </div>
            </div>
        </div>
    </header>
</section>