{% extends "@FOSUser/layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block nav %}
    {% include 'account/parts/navAccount.html.twig' %}
{% endblock %}
{% block body %}

    <div class="account-content">
        <section id="account-title">
            <div class="container wow fadeInUp">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Modifier mes informations</h2>
                    </div>
                </div>
            </div>
        </section>
        <section class="account-body">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    {% block fos_user_content %}
                        {% include "@FOSUser/Profile/edit_content.html.twig" %}
                    {% endblock fos_user_content %}
                </div>
            </div>
        </section>

    </div>
{% endblock %}


