{% extends 'mails/layout.html.twig' %}

{% block body %}
    <tr>
        <td align="center" class="text-one">Bonjour {{ user.username }}</td>
    </tr>
    <tr>
        <td align="center"  class="text-two">Pour finaliser votre inscription et devenir Spoteur, merci de cliquer sur ce lien <br></td>
    </tr>
    <tr>
        <td align="center" class="button-mobile-padding">
            <table border="0" cellspacing="0" cellpadding="0" class="button-mobile-container">
                <tr>
                    <td align="center"><a href="{{ confirmationUrl }}" target="_blank"  class="button-mobile">Valider votre compte</a></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center" class="text-two">Attention, ce lien ne peut être utilisé qu'une seule fois.</td>
    </tr>
    <tr class="bottom">
        <td align="center" class="text-six">
            <p> YouSpot<span>&nbsp;&nbsp;-&nbsp;&nbsp;</span> Stéphanie Houssin</p>
        </td>
    </tr>
{% endblock %}