{% extends "@FOSUser/layout.html.twig" %}
{% block title %}YouSpot - Inscription{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block nav %}
    {% include 'landing/parts/navLanding.html.twig' %}
{% endblock %}
{% block body %}

    <div class="container">
        <section id="page-title">
            <div class="container wow fadeInUp">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <h2>Inscription</h2>
                        <h3>Rejoins la communauté des Spoteurs</h3>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="container">
        <section id="register">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 offset-md-4">
                        {% block fos_user_content %}
                            {% include "@FOSUser/Registration/register_content.html.twig" %}
                        {% endblock fos_user_content %}
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
{% block footer %}
    {% include 'landing/parts/footer.html.twig' %}
{% endblock %}
{% block javascript %}
{% endblock %}