/*************************************LANDING ET HOME ********************************/
/*****************LANDING ET HOME MENU DE NAVIGATION************/
/*menu en responsive*/

#mainNav
 {
    background-color: black;

}
/*bouton menu en responsive*/
#mainNav .navbar-toggler
{
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: #497435;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/*logo*/
/** la couleur agit sur les deux types **/
/** la taille ne fontionne que en responsive **/
#mainNav .navbar-brand
{
    color: white;
    font-family: 'Tangerine', 'Helvetica Neue', Helvetica, Arial, cursive;
    font-size: 40px;


}
/** je ne sais pas sur quoi ca agit ***/
#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover
{
    color: white;
}
/*liens menu*/
#mainNav .navbar-nav .nav-item .nav-link
{
    font-size: 90%;
    font-weight: 600;
    /*padding: 0.75em 0;*/
    letter-spacing: 1px;
    color: white;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 1.1em 1em;
}
/*liens menu survol*/
#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover
{
    color: #497435;
}

#mainNav .btn-nav
{
    font-size: 15px;
    padding: 10px 10px;
    background-color: #497435;
    border-color: #497435;
}

/*@media (min-width: 992px) {
    #mainNav {
        padding-top: 25px;
        padding-bottom: 25px;
        -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
        -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
        transition: padding-top 0.3s, padding-bottom 0.3s;
        border: none;
        background-color: transparent;
    }
    #mainNav .navbar-brand {
        font-size: 1.75em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 1.1em 1em !important;
    }
    #mainNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color: white;
    }
    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
    }
}*/

/******************** LANDING ET HOME COVER **********************/
header.masthead {
    text-align: center;
    color: black;
    background-image: url("../img/cover.jpg");
  /*  background-color: greenyellow;*/
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*texte du bouton*/
.btn {
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
}
/*taille du bouton*/
.btn-cover {
    font-size: 18px;
    padding: 15px 20px;
    background-color: #497435;
    border-color: #497435;
}

.btn-cover:active, .btn-cover:focus, .btn-cover:hover {
    background-color: #497435 ;
    border-color: #497435;
    color: white;
}
.btn-cover:active, .btn-cover:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

/*espace entre le menu et le reste*/
header.masthead .cover {
    padding-top: 200px;
    padding-bottom: 150px;
    color:black;
    font-weight: bold;
}
/* texte de bienvenue */
header.masthead .cover .cover-text {
    font-size: 22px;
    /* font-style: italic;*/
    line-height: 22px;
    margin-bottom: 25px;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* titre du site*/
header.masthead .cover .cover-title {
    font-size: 60px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/*@media (min-width: 768px) {

    header.masthead .cover {
        padding-top: 200px;
        padding-bottom: 150px;
    }

    header.masthead .cover .cover-text {
        font-size: 20px;

        line-height: 20px;
        margin-bottom: 25px;
        font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    header.masthead .cover .cover-title {
        font-size: 60px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
}*/

/********************FOOTER GENERAL**********************/
#footer
{
    background: #497435;
    text-align: center;
    color : black;
}

#footer ul.footer-link li a i
{
    margin-right: 5px;
    font-size:20px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;

}

#footer ul.footer-link li:hover a i {
    font-size:25px;
    margin-top:-10px;
    color: white;
}

/******************** LANDING PAGE GENERAL**********************/
/*bloc titre*/
#landing-title {
    background: url(../img/cover.jpg) fixed center center;
    background-size: cover;
    padding: 30px 0;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}
#landing-title h3
{
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}

/********* LANDING PAGE SECTION SPOTS *******************/
@media all and (max-width: 1024px) {

    #landing-spot-content .card
    {
        margin-bottom: 20px;
    }
}
.button-spot-content
{
    width: 40%;
}
/*********LANDING PAGE SECTION STATS *******************/
.container-landing-stats-content {
    perspective: 1000px;
    display: inline-block;
    margin: 3%;
}

.container-landing-stats-content,
.front-landing-stats-content {
    width: 100px;
    height: 100px;
}
.front-landing-stats-content
 {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.number
{
    text-align: center;
    font-size: 15px;
    margin-top: 15px;
}
.text
{
    font-size: 15px;
    text-align: center;
}
#locale
{
    text-align: center;
    font-size: 30px;
}

@media all and (max-width: 1024px){
    .caption i
    {
        font-size: 20px;
    }
    .number
    {
        text-align: center;
        font-size: 10px;
        margin-top: 5px;
    }
    .container-landing-stats-content,
    .front-landing-stats-content {
        width: 75px;
        height: 75px;
    }

}
/*********LANDING PAGE SECTION OPINION *******************/
img {
    width: 100%;
}

a {
    color: black;
}

.caption,
h1,
.date {
    margin: 0;
    text-align: center;
}

.caption,
h1 {
    font-family: "Reenie Beanie", sans-serif;
    font-size: 2em;
    padding: 10px 10px 0 10px;
}

.date {
    font-size: 0.75em;
}
.btn-opinion
{
    border: 1px solid white;
    background-color: red;
    color: white;
    margin-top: 30px;
    text-transform: uppercase;
}

.description {
    font-size: 0.9em;
    padding: 0 20px 20px 20px;
    text-align: left;
}

.container-landing-opinion-content {
    perspective: 1000px;
    display: inline-block;
    margin: 3%;
}

.container-landing-opinion-content:hover .flipper {
    transform: rotateY(180deg);
}

.container-landing-opinion-content,
.front-landing-opinion-content,
.back-landing-opinion-content {
    width: 200px;
    height: 200px;
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front-landing-opinion-content,
.back-landing-opinion-content {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.front-landing-opinion-content {
    z-index: 2;
}

.back-landing-opinion-content {
    transform: rotateY(180deg);
}

#landing-opinion-content {
    text-align: center;
}

@media all and (max-width: 1024px){
    .container-landing-opinion-content,
    .front-landing-opinion-content,
    .back-landing-opinion-content {
        width: 120px;
        height: 120px;
    }
    .back-landing-opinion-content .btn-opinion
    {
        text-transform: capitalize;
        font-size: 10px;
        margin-top: 25px;
    }
    .back-landing-opinion-content h1
    {
        font-size: 10px;
    }
    .back-landing-opinion-content .description
    {
        display: none;
    }
}

/*************************PAGE ACCUEIL****************/
#subscribe {
    background: url(../img/cover.jpg) fixed center center;
    background-size: cover;
    padding: 80px 0;
}

#subscribe .subscribe-title {
    font-size: 28px;
    font-weight: 700;
}


#subscribe .subscribe-btn-container {
    text-align: center;
    padding-top: 20px;
}

#subscribe .subscribe-btn {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    background: #497435;
    border: 2px solid #497435;
}


/******************PAGES ELEMENTS COMMUNS*******************/
#page-title {
    background: url(../img/cover.jpg) fixed center center;
    background-size: cover;
    padding: 30px 0;
    width: 100%;
    margin-top: 130px;
    margin-bottom: 60px;
}
#page-title h2
{
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}
.page-content .card
{
    margin-bottom: 20px;
}
.page-content
{
    margin-bottom: 100px;
}


/******************SEARCH SPOT*******************/


/*************************************MON COMPTE********************************/
/***************MON COMPTE MENU DE NAVIGATION********/
.nav-account-menu {
    overflow: auto;
    font-size: 12px;
    font-weight: 400;
   /* background-color: #2e353d;*/
    background-image: url("../img/cover.jpg");
    position: fixed;
    top: 0;
    width: 300px;
    height: 100%;
    color: white;
}
.nav-account-menu .brand {
    background-color: black;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
}
.nav-account-menu .toggle-btn {
    display: none;
}
.nav-account-menu ul,
.nav-account-menu li {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 35px;
    cursor: pointer;
}
.nav-account-menu ul :not(collapsed) .arrow:before,
.nav-account-menu li :not(collapsed) .arrow:before {
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;
}
.nav-account-menu ul .active,
.nav-account-menu li .active {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
}
.nav-account-menu ul .sub-menu li.active,
.nav-account-menu li .sub-menu li.active {
    color: #d19b3d;
}
.nav-account-menu ul .sub-menu li.active a,
.nav-account-menu li .sub-menu li.active a {
    color: #d19b3d;
}
.nav-account-menu ul .sub-menu li,
.nav-account-menu li .sub-menu li {
    background-color: #181c20;
    border: none;
    line-height: 28px;
    border-bottom: 1px solid #23282e;
    margin-left: 0;
}
.nav-account-menu ul .sub-menu li:hover,
.nav-account-menu li .sub-menu li:hover {
    background-color: #020203;
}
.nav-account-menu ul .sub-menu li:before,
.nav-account-menu li .sub-menu li:before {
    content: "\f105";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}
.nav-account-menu li {
    padding-left: 0;
    border-left: 3px solid #2e353d;
    border-bottom: 1px solid #23282e;
}
.nav-account-menu li a {
    text-decoration: none;
    color: #e1ffff;
}
.nav-account-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
}
.nav-account-menu li:hover {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
@media (max-width: 767px) {
    .nav-account-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }
    .nav-account-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        text-align: center;
    }
    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
}
@media (min-width: 767px) {
    .nav-account-menu .menu-list .menu-content {
        display: block;
    }
}
body {
    margin: 0;
    padding: 0;
}

.account-content
{
    margin-left: 235px;
    padding-left: 100px;
    padding-right: 35px;
}
@media (max-width: 768px)
{
    .account-content {
        margin-left: 0;
        padding-left: 10px;
        padding-right: 35px;
    }
}


/***************MON COMPTE ACCUEIL ************************/
.jumbotron
{
    margin-top: 100px;
}
/********************PAGES MENU**********************/
/*****************PAGES GENERAL**********************/
.page_marge_top
{
    margin-top: 20px;
}
/****************** PAGE MENU JE SPOTE*******************/
.smap {
    width: 100%;
    height: 300px;
}
.service-heading {
    margin: 15px 0;
    text-transform: none;
}

/****************** PAGE LES OPINIONS*******************/

