/*************************************LANDING ET HOME ********************************/
/*****************LANDING ET HOME MENU DE NAVIGATION************/
/*menu en responsive*/

#mainNav
 {
   /* background-color: #15204C;*/
    background-image: url("../img/c5.jpg");
    background-repeat: no-repeat;

    background-size: cover;
}
/*bouton menu en responsive*/
#mainNav .navbar-toggler
{
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: black;
    border: 0;
    background-image: url("../img/c7.jpg");
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/*logo*/
/** la couleur agit sur les deux types **/
/** la taille ne fontionne que en responsive **/
#mainNav .navbar-brand
{
    color: black;
    font-family: 'Tangerine', 'Helvetica Neue', Helvetica, Arial, cursive;
    font-size: 40px;


}
/** je ne sais pas sur quoi ca agit ***/
#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover
{
    color: black;
}
/*liens menu*/
#mainNav .navbar-nav .nav-item .nav-link
{
    font-size: 90%;
    font-weight: 600;
    /*padding: 0.75em 0;*/
    letter-spacing: 1px;
    color: black;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 1.1em 1em;
}
/*liens menu survol*/
#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover
{
    color: #497435;
}

#mainNav .btn-nav
{
    font-size: 15px;
    padding: 10px 10px;
    background-image: url("../img/c7.jpg");
    border-color: #497435;
}


/******************** LANDING ET HOME COVER **********************/
header.masthead {
    text-align: center;
    color: black;
    background-image: url("../img/c7.jpg");
  /*  background-color: greenyellow;*/
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*texte du bouton*/
.btn {
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
}
/*taille du bouton*/
.btn-cover {
    font-size: 18px;
    padding: 15px 20px;
    background-image: url("../img/c5.jpg");
    border-color: #497435;
}

.btn-cover:active, .btn-cover:focus, .btn-cover:hover {
    background-color: #497435 ;
    border-color: #497435;
    color: black;
}
.btn-cover:active, .btn-cover:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

/*espace entre le menu et le reste*/
header.masthead .cover {
    padding-top: 200px;
    padding-bottom: 150px;
    color:black;
    font-weight: bold;
}
/* texte de bienvenue */
header.masthead .cover .cover-text {
    font-size: 22px;
    /* font-style: italic;*/
    line-height: 22px;
    margin-bottom: 25px;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* titre du site*/
header.masthead .cover .cover-title {
    font-family: 'Tangerine';
    font-size: 60px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
   /* font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
}
/********************FOOTER GENERAL**********************/
#footer
{
    background-image: url("../img/c5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color : black;
}

#footer ul.footer-link li a i
{
    margin-right: 5px;
    font-size:20px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;

}

#footer ul.footer-link li:hover a i {
    font-size:25px;
    margin-top:-10px;
    color: white;
}

/******************** LANDING PAGE GENERAL**********************/
/*bloc titre*/
#landing-title {
    background-image: url("../img/c5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}
#landing-title h3
{
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}
#landing-spot-content .card
{
    border: 0;
}

/********* LANDING PAGE SECTION SPOTS *******************/
@media all and (max-width: 1024px) {

    #landing-spot-content .card
    {
        margin-bottom: 20px;

    }
}
.button-spot-content
{
    width: 40%;
}
/*********LANDING PAGE SECTION STATS *******************/
#locale
{
    text-align: center;
    font-size: 30px;
}

.landing-stats-content .card
{
    margin-left: 30px;
    margin-bottom: 35px;
}
.landing-stats-content h5
{
    font-size: 12px;
}
.landing-stats-content .card-text
{
    text-align: center;
    font-weight: bold;
}

@media (max-width: 768px) {

    .landing-stats-content  .card {
        max-width: 8rem;
    }
    .landing-stats-content .card-text
    {
        font-size: 10px;
    }

}
/*********LANDING PAGE SECTION OPINION *******************/
img {
    width: 100%;
}

a {
    color: black;
}

.caption,
h1,
.date {
    margin: 0;
    text-align: center;
}

.caption,
h1 {
    font-family: "Reenie Beanie", sans-serif;
    font-size: 2em;
    padding: 10px 10px 0 10px;
}

.date {
    font-size: 0.75em;
}
.btn-opinion
{
    border: 1px solid white;
    background-color: red;
    color: white;
    margin-top: 30px;
    text-transform: uppercase;
}

.description {
    font-size: 0.9em;
    padding: 0 20px 20px 20px;
    text-align: left;
}

.container-landing-opinion-content {
    perspective: 1000px;
    display: inline-block;
    margin: 3%;
}

.container-landing-opinion-content:hover .flipper {
    transform: rotateY(180deg);
}

.container-landing-opinion-content,
.front-landing-opinion-content,
.back-landing-opinion-content {
    width: 200px;
    height: 200px;
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front-landing-opinion-content,
.back-landing-opinion-content {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.front-landing-opinion-content {
    z-index: 2;
}

.back-landing-opinion-content {
    transform: rotateY(180deg);
}

#landing-opinion-content {
    text-align: center;
}

@media all and (max-width: 1024px){
    .container-landing-opinion-content,
    .front-landing-opinion-content,
    .back-landing-opinion-content {
        width: 120px;
        height: 120px;
    }
    .back-landing-opinion-content .btn-opinion
    {
        text-transform: capitalize;
        font-size: 10px;
        margin-top: 25px;
    }
    .back-landing-opinion-content h1
    {
        font-size: 10px;
    }
    .back-landing-opinion-content .description
    {
        display: none;
    }
}

/*************************PAGE ACCUEIL****************/
#subscribe {
    background: url(../img/c7.jpg) fixed center center;
    background-size: cover;
    padding: 80px 0;
}

#subscribe .subscribe-title {
    font-size: 28px;
    font-weight: 700;
}


#subscribe .subscribe-btn-container {
    text-align: center;
    padding-top: 20px;
}

#subscribe .subscribe-btn {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    background: url(../img/c5.jpg);
    border: 2px solid #497435;

}
#subscribe .subscribe-btn:hover
{
    text-decoration: none;
    color: black;
}


.lastSpotsHome .card
{
    margin-bottom: 20px;
}

.lastSpotsHome .btn
{
    background-image: url("../img/c5.jpg");
    border-color: #497435;
}



/******************PAGES ELEMENTS COMMUNS*******************/
#page-title {
    background: url(../img/c7.jpg) fixed center center;
    background-size: cover;
    padding: 30px 0;
    width: 100%;
    margin-top: 130px;
    margin-bottom: 60px;
}
#page-title h2
{
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}
.page-content .card
{
    margin-bottom: 20px;
}
.page-content
{
    margin-bottom: 100px;
}





/*************************************MON COMPTE********************************/
/***************MON COMPTE MENU DE NAVIGATION********/

/* bandeau */
.nav-account-menu {
    overflow: auto;
    font-weight: 400;
    background-color: #e9ecef;
    position: fixed;
    top: 0;
    width: 300px;
    height: 100%;
    font-size: 20px;
}

/* titre bandeau */
.nav-account-menu .brand {
    background-color: #e9ecef;
    line-height: 80px;
    display: block;
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    color: black;
    font-family: 'Tangerine';
    margin-left: 20px;
}
/* permet de faire disparaitre l'icone du menu en normal*/
.nav-account-menu .toggle-btn {
    display: none;
}

/* liste */
.nav-account-menu ul,
.nav-account-menu li {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 35px;
    cursor: pointer;
    margin-left: 10px;
}
/* joue sur la liste */
.nav-account-menu li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

@media (max-width: 767px) {
    .nav-account-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }
    .nav-account-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10;
        padding: 3px;
       /* background-color: #ffffff;*/
        color: #000;
        width: 40px;
       /* text-align: center;*/
    }
    .brand {
        text-align: left;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px;
    }
}
@media (min-width: 767px) {
    .nav-account-menu .menu-list .menu-content {
        display: block;
    }
}
body {
    margin: 0;
    padding: 0;
}

.account-content
{
    margin-left: 235px;
    padding-left: 100px;
    padding-right: 35px;
}
@media (max-width: 768px)
{
    .account-content {
        margin-left: 0;
        padding-left: 10px;
        padding-right: 10px;
    }
}


/***************MON COMPTE ACCUEIL ************************/
#account-title {
    background-color: #e9ecef;
    padding: 30px;
    margin-bottom: 60px;
    text-align: center;
    font-family: 'Tangerine';
    margin-top: 20px;


}
#account-title h2
{
    font-size: 40px;
    font-weight: bold;
}
/********************PAGES MENU**********************/
/*****************PAGES GENERAL**********************/
.page_marge_top
{
    margin-top: 20px;
}
.card-img-top
{
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
@media all and (max-width: 1024px) {

    .card-img-top
    {
        width: 100%;
        height: auto;
    }
}

/******************PAGE MENU JE CHERCHE UN SPOT *******************/
#map-searchSpot
{
    width:100%;
    height: 100%;
}

/****************** PAGE MENU JE SPOTE*******************/
.smap {
    width: 100%;
    height: 500px;
}
#map-makeSpot
{
    width:100%;
    height: 80%;
}

/****************** PAGE UN SPOT*******************/

.one-spot .card-img-top
{
    height: 360px;
}

/****************** PAGE LES OPINIONS*******************/

.search-title
{
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}
.card-search span
{
    font-weight: bold;
}