section.landing-spot-title
{
    background-color: green;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
section.landing-spot-content
{
    height: 400px;
}
section.landing-stats-title
{
    background-color: green;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
section.landing-stats-content
{
    height: 400px;
}
section.landing-how-title
{
    background-color: green;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
section.landing-how-content
{
    height: 400px;
}
section.landing-join-us-title
{
    background-color: green;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
section.landing-join-us-content
{
    height: 400px;
}
section.landing-opinion-title
{
    background-color: green;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
section.landing-opinion-content
{
    height: 400px;
}