<section class="cover-landing">
<header class="masthead">
    <div class="container">
        <div class="cover">
            <div class="row">
                <div class="col-md-6">
                    <div class="text">
                    <div class="cover-text">Tu cherches ou tu as déjà ton petit coin de Paradis </div>
                    <div class="cover-text">dans cette jungle urbaine qu'est la ville ! </div>
                    <div class="cover-text">Alors viens le spoter ou le chercher!</div>
                    <div class="cover-text">Rejoins la communauté des spoteurs! </div>
                    </div>
                    </div>
                <div class="col-md-6">
                    <div class="cover-deco">
                    <div class="cover-title">YouSpot !</div>
                    <a class="btn btn-cover  text-uppercase js-scroll-trigger" href="{{ path('fos_user_registration_register') }}">Rejoins nous !</a>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</header>
</section>