<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="header-text">
            <div class="header-heading text-uppercase">YouSpot !</div>
            <div class="header-lead-in">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium </div>
            <div class="header-lead-in">vel illum qui dolorem eum fugiat quo voluptas nulla pariatur
                sed quia non numquam eius modi tempore </div>
            <div class="header-lead-in">sed quia non numquam eius modi tempora incidunt ut labore et  </div>
            <div class="header-lead-in">sed quia non numquam eius modi tempora incidunt ut labore et </div>
            <div class="header-heading "> </div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{{ path('fos_user_registration_register') }}">Rejoignez nous !</a>
        </div>
    </div>
</header>