<header class="masthead">
    <div class="container">
        <div class="cover">
            <div class="cover-title">YouSpot !</div>
            <div class="cover-text">Tu cherches ou tu as déjà ton petit coin de Paradis </div>
            <div class="cover-text">dans cette jungle urbaine qu'est la ville ! </div>
            <div class="cover-text">Alors viens le spoter ou le chercher!</div>
            <div class="cover-text">Rejoins la communauté des spoteurs! </div>

            <a class="btn btn-cover  text-uppercase js-scroll-trigger" href="{{ path('fos_user_registration_register') }}">Rejoins nous !</a>
            <div class="cover-text-two ">* Non , non tu ne rêves pas! </div>
            <div class="cover-text-two ">* la ville regorge d'endroit préservé et dépaysant  </div>
        </div>
    </div>
</header>