<header class="masthead">
    <div class="container">
        <div class="cover-landing">
            <div class="cover-landing-title text-uppercase">YouSpot !</div>
            <div class="cover-landing-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium </div>
            <div class="cover-landing-text">vel illum qui dolorem eum fugiat quo voluptas nulla pariatur
                sed quia non numquam eius modi tempore </div>
            <div class="cover-landing-text">sed quia non numquam eius modi tempora incidunt ut labore et  </div>
            <div class="cover-landing-text">sed quia non numquam eius modi tempora incidunt ut labore et </div>
            <div class="cover-landing-text "> </div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{{ path('fos_user_registration_register') }}">Rejoignez nous !</a>
        </div>
    </div>
</header>