{% extends "base.html.twig" %}

{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block nav %}
    {% if user %}
        {% include 'home/parts/navHome.html.twig' %}
    {% else %}
        {% include 'landing/parts/navLanding.html.twig' %}
    {% endif %}
{% endblock %}
{% block body %}

    <div class="container">
        <section id="page-title">
            <div class="container wow fadeInUp">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Toutes les questions qu'un spoteur se pose!</h2>
                    </div>
                </div>
            </div>
        </section>

        <section id="faq">
            <div class="card">
                <div class="header">
                    Comment m'inscrire?
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Rien de plus simple, il suffit de cliquer sur l'un des boutons
                        "Rejoins Nous". Un court formulaire à remplir va s'ouvrir. Une fois validé, un email va
                        t'être envoyé qui contient un lien de validation pour finaliser l'inscription. Une fois cliqué
                        dessus, tu es Spoteur!</li>
                </ul>
            </div>

            <div class="card">
                <div class="header">
                    Est ce que je peux mettre tous les spots que je veux?
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Oui , à partir du moment où tu es connecté ( et donc inscrit)!</li>
                </ul>
            </div>

            <div class="card">
                <div class="header">
                    J'ai spoté mais je ne vois pas mon spot ?
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Normal, lorsque tu spotes , ton spot part en validation , juste
                        pour qu'on vérifie qu'il respecte bien la fiche du spot! Une fois validé, il va apparaître
                        dans la liste!</li>
                </ul>
            </div>

            <div class="card">
                <div class="header">
                    J'ai eu un spot rejeté , pourquoi?
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Surement parce que l'un des points de la fiche du Spot ne correspond pas.
                        Ton spot est peut être en intérieur ou alors la description n'est pas cohérente . Pas de panique,
                        tu peux modifier ton spot et le re proposer!</li>
                </ul>
            </div>

            <div class="card">
                <div class="header">
                    J'avais un spot dans mes favoris mais il a disparu
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Normal si le spoteur a quitté le site. Un spoteur qui décide de quitter YouSpot
                        part avec ses spots qui lui sont personnels!</li>
                </ul>
            </div>
        </section>
    </div>


{% endblock %}
{% block footer %}
    {% include 'landing/parts/footer.html.twig' %}
{% endblock %}
{% block javascript %}
{% endblock %}