{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/styleNavLanding.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
{% endblock %}
{% block nav %}
    {% include 'landing/parts/navLanding.html.twig' %}
    {% include 'landing/parts/coverLanding.html.twig' %}
{% endblock %}
{% block body %}

    <section class="landing-spot-title">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Un spot c'est quoi? </h2>
                </div>
            </div>
        </div>
    </section>
    <section class="landing-spot-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    texte sur un spot
                </div>
                <div class="col-md-6">
                    aperçu d'un spot
                </div>
            </div>
        </div>
    </section>

    <section class="landing-how-title">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Comment ça marche ?</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="landing-how-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
        </div>
    </section>
    <section class="landing-join-us-title">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Rejoignez nous !</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="landing-join-us-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
        </div>
    </section>
    <section class="landing-stats-title">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Aujourd'hui !</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="landing-stats-content">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3>Spoteurs</h3>
                </div>
                <div class="col-md-3">
                    <h3>Spots</h3>
                </div>
                <div class="col-md-3">
                    <h3>Likes</h3>
                </div>
                <div class="col-md-3">
                    <h3>Arbres</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="landing-opinion-title">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Derniers avis postés sur YouSpot !</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="landing-opinion-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block footer %}
    {% include 'landing/parts/footerLanding.html.twig' %}


{% endblock %}
{% block javascript %}
    {{ parent() }}
{% endblock %}