{% extends "base.html.twig" %}

{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block nav %}
    {% if user %}
        {% include 'home/parts/navHome.html.twig' %}
    {% else %}
        {% include 'landing/parts/navLanding.html.twig' %}
    {% endif %}
{% endblock %}
{% block body %}

    <div class="container">
        <section id="page-title">
            <div class="container wow fadeInUp">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Les conditions générales d'utilisations</h2>
                    </div>
                </div>
            </div>
        </section>
    </div>


{% endblock %}
{% block footer %}
    {% include 'landing/parts/footer.html.twig' %}
{% endblock %}
{% block javascript %}
{% endblock %}